* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    header {
        
        background-color: black;
        width: 100%;
        font-family: sans-serif;
        height: 10rem;
        
        }
    
        #logo {
            margin-left: 2rem;
            border-radius: 50%;
        }
        
        .ul-nav {
            padding-inline-end: 3rem;
        }
        
        #logo {
            border-radius: 50%;

        }
        #top {
            
        }
        #intro-vid {
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0;
            bottom: 0;
            z-index: -1;
            filter: opacity(95%);
            margin-top: 1rem;
            
            
          }
        .navbar {
            z-index: -1;
            background-color: black;
            filter: opacity(60%);
            margin-top: 1rem;
        }

        .nav-item {
            font-size: 1rem;
            margin: 0 0.5rem 0 0.5rem;
            
        }

      