html {
    box-sizing: border-box;
  }
  * {
      margin: 0;
      padding: 0;
      
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    }

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
  /*****************************Phone Media Responsiveness*******************************/
  
  @media screen and (max-width: 480px) {
      .store-sub-nav {
          display: none;
      }
    
      #backnav {
          background-color: rgb(0, 0, 0);
          filter: opacity(90%);
      }
      #bed {
        font-size: 1rem;
      }
    }
    
     



    /*****************************Laptop***************************************/


    @media screen and (min-width: 750px) {
        #contacts {
            text-indent: 6rem;
        }
    }



    /*******************************Navigation*********************************/

    header {
        width: 100%;
        font-family: sans-serif;
        height: auto;
        position: sticky;
        margin-top: -7rem;
        width: 100%;
        
        }
    
        #logo {
            margin-left: 2rem;
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
            margin-top: 0.5rem;
        }
        
        .ul-nav {
            padding-inline-end: 3rem;
        }
        
        #logo {
            border-radius: 50%;

        }
      
        #intro-vid {
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0;
            bottom: 0;
            z-index: -1; 
          }

        .navbar {
            z-index: -1;
            background-color: rgba(54, 50, 48, 0.5);
        }

        .nav-item {
            font-size: 1rem;
            margin: 0 0.5rem 0 0.5rem;
            filter: opacity(50);
        }

        .nav-link:hover + .store-sub-nav { /**yung + ay para sa katabing sibling hindi child take note**/
            visibility: visible;
            opacity: 1;
            margin-top: 0vh;
          }
          
          .store-sub-nav {
            background-color: black;
            list-style-type: none;
            position: absolute;
            padding: 0;
            margin-top: 2vh;
          /** display: none;  to make it invisible**/
            visibility: hidden;
            transition: 3s;
            
          }
          
          .store-sub-nav:hover {
            background-color: #C38154;
            
          }
          
          
          .store-sub-nav > li {
            padding: 0.5vw;
          }
          .store-sub-nav > li > a {
            text-decoration: none;
            text-transform: capitalize;
            color: white;
            
          }
 
    /******************aside**********************/
    main {
    margin-top: -1rem;
    }

        .column {

            display: inline-block;
            flex-direction: row;
            width: 30.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .whole{
            transition: 1s;
        }
        .whole:hover{
            transform: scale(1.2);
        }

        main {
            background-color: rgba(141, 94, 47, 0.8);
        }
               
        
        /*********************section*********************/

        #bed {
        font-family: 'Fasthand', cursive;
        font-size: 7rem;        
        }
        div#window { 
        display: flex; 
        flex-direction: column; 
        flex-wrap: wrap;
        height: 100vw;
        font-size: 0;  
        }
        div#window img {  
        width: 33.3%;
        transition: .8s opacity;
        } 
        
        div#window:hover img {
        opacity: 0.5; }
        div#window:hover img:hover {
        transform: scale(1.1);
        opacity: 1; } 

        .butones {
          display: flex;
          justify-content: center;
        }
        
    /***********************Citation**************************/

    .details-list{
        list-style: none;
        text-decoration: none;
        text-align: center;
      }
  
      details {
        background: #492D25;
        font-family: "Montserrat",'Segoe UI', sans-serif ;
        padding-top: 30px;
        color: var(--text);
      }
      
  
      /***********************footer****************************/
      
      footer {
        background: black;
        align-items: center;
  
      }
      .socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .socials li{
        margin: 0 10px;
      }
      
      .socials a{
        text-decoration: none;
        color: #f6f6f6;
        padding: 9.5px;
        border: 1px solid var(--bg-1);
        border-radius: 3px;
        transition: all 0.3s ease;
      }
  
      footer>div>p {
        color: white;
        text-indent: 2.1rem;
      }
    
     