html {
  box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
  }
/***************************** Media Responsiveness*******************************/

@media screen and (max-width: 480px) {
    .store-sub-nav {
        display: none;
    }
  
    #backnav {
        background-color: rgb(0, 0, 0);
        filter: opacity(90%);
    }

    .carousel {
      display: none;
     } 

     .about { 
      display: flex;
      flex-direction: column;
      gap: 1rem;
     }
     

     .about-text {
      background-color: rgb(15, 14, 13, 0.8);
      color: white;
      padding: 3rem 2rem 3rem 2rem;
      text-align: justify;
      text-transform: capitalize;
      text-indent: 2rem;
      line-height: 150%;
      

 }
}
/***************************** laptop*******************************/

@media screen and (min-width: 750px) {
  .about {
    display: flex;
    margin: 0 2rem 0 2 rem;
    border: 0 2rem 0 2 rem;
    padding: 0 2rem 0 2 rem;
  }
  
  .about-photo {
    height: auto;
    width: 100%;
    border: 1rem -5rem 1rem 1rem;
    display: flex;
    align-items: center;
   }
  
  .about-text {
    background-color: rgb(15, 14, 13, 0.8);
    color: white;
    width: 50%;
    padding: 3rem 6rem 3rem 6rem;
    text-align: justify;
    font-size: large;
    text-transform: capitalize;
    text-indent: 2rem;
    line-height: 150%;
    
   }
   
  

  
  }

/*****************************End of Media Responsiveness*******************************/
    header {
        width: 100%;
        font-family: sans-serif;
        height: auto;
        position: sticky;
        margin-top: -7rem;
        width: 100%;
        
        }
    
        #logo {
            margin-left: 2rem;
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
            margin-top: 0.5rem;
        }
        
        .ul-nav {
            padding-inline-end: 3rem;
        }
        
        #logo {
            border-radius: 50%;

        }
      
        #intro-vid {
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0;
            bottom: 0;
            z-index: -1; 
          }

        .navbar {
            z-index: -1;
            background-color: rgba(54, 50, 48, 0.5);
        }

        .nav-item {
            font-size: 1rem;
            margin: 0 0.5rem 0 0.5rem;
            filter: opacity(50);
        }
        
        /********************************/

        .nav-link:hover + .store-sub-nav { /**yung + ay para sa katabing sibling hindi child take note**/
            visibility: visible;
            opacity: 1;
            margin-top: 0vh;
          }
          
          .store-sub-nav {
            background-color: black;
            list-style-type: none;
            position: absolute;
            padding: 0;
            margin-top: 2vh;
          /** display: none;  to make it invisible**/
            visibility: hidden;
            transition: 1s;
            
          }
          
          .store-sub-nav:hover {
            background-color: #C38154;
            
          }
          
          
          .store-sub-nav > li {
            padding: 0.5vw;
          }
          .store-sub-nav > li > a {
            text-decoration: none;
            text-transform: capitalize;
            color: white;
            
          }


        /********************************/

    .carousel-inner {
      padding: 0 15rem 1rem 15rem;
    }
    .carousel-item > img {
      height: 50rem;
     } 
     .about {
      max-width: 100%;
      height: auto;
     }
     .about-photo {
      border-radius: 8px;
     }


     /********************products*********************/
     .column {
      
      display: inline-block;
      flex-direction: row;
      width: 30.3%;
      margin-bottom: 16px;
      padding: 0 8px;
    }


   
    
    
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .presentation {
      padding: 0 16px;
    }
    
    
    .title {
      color: grey;
    }
    
    .whole{
      transition: 1s;
      box-shadow: inset;
    }
    .whole:hover{
      transform: scale(1.2);
    }

    aside {
      background-color: rgba(73, 45, 37, 0.8);
    }
    
    